[submodule "kinect_utilities"]
	path = kinect_utilities
	url = https://github.com/letrend/kinect_utilities
[submodule "ICPCUDA"]
	path = ICPCUDA
	url = https://github.com/mp3guy/ICPCUDA
[submodule "third_party/Sophus"]
	path = third_party/Sophus
	url = https://github.com/strasdat/Sophus.git
